  @import "tailwindcss";

#root{
  display: flex;
  justify-content:center;
  background-color: black;
}

/* Google Button Styling */
.google-button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

/* Style the Google Sign-In button iframe */
#googleButtonDiv > div {
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 45%;
}
